.layim_filepicture {background:url(../../images/folder1.png) no-repeat;float:left; width:102px; height:70px; text-align:center}
.layim_filepicture span{padding: 20px 0 0 10px; position: relative; color: blue; float: left; overflow: hidden; width:70px}
.layim_filepicture span：hover{overflow: hidden; width:70px; height: 20px}
.layim_fileinfo {float:left; margin-left: 10px/* border : 2px solid black */}
.layim_filestate {margin-left: 10px; padding-left: 102px}
.layim_fileinfo img{width : 128px; height:128px;}

.layui-layim-list li.layim-null-item {height: 20px; line-height: 20px; padding-left: 30px; font-size: 12px; color: #999; text-align: left; cursor: default;}
.layui-layim-list li.layim-null-item:hover{background: none;}
.layui-layim-list li.layim-null-redirect{height: 20px; line-height: 20px; padding: 10px 0; font-size: 14px; color: #999; text-align: center; cursor: hand;}

.layim-msgbox{margin: 15px;}
.layim-msgbox li{position: relative; margin-bottom: 10px; padding: 0 130px 10px 60px; padding-bottom: 10px; line-height: 22px; border-bottom: 1px dotted #e2e2e2;}
.layim-msgbox .layim-msgbox-tips{margin: 0; padding: 10px 0; border: none; text-align: center; color: #999;}
.layim-msgbox .layim-msgbox-system{padding: 0 10px 10px 10px;}
.layim-msgbox li p span{padding-left: 5px; color: #999;}
.layim-msgbox li p em{font-style: normal; color: #FF5722;}

.layim-msgbox-avatar{position: absolute; left: 0; top: 0; width: 50px; height: 50px;}
.layim-msgbox-user{padding-top: 5px;}
.layim-msgbox-content{margin-top: 3px;}
.layim-msgbox .layui-btn-small{padding: 0 15px; margin-left: 5px;}
.layim-msgbox-btn{position: absolute; right: 0; top: 12px; color: #999;}

.layui-layim-goodinfo {margin-top: 10px; cursor:pointer}
.layui-search-field {margin-right: 10px; max-width: 120px}
/*@font-face {font-family: "facewhat-icon-font";*/
    /*src: url('../font/facewhat.eot'); !* IE9*!*/
    /*src: url('../font/facewhat.eot#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../font/facewhat.woff') format('woff'), !* chrome, firefox *!*/
    /*url('../font/facewhat.ttf') format('truetype'), !* chrome, firefox, opera, Safari, Android, iOS 4.2+*!*/
    /*url('../font/facewhat.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

@font-face {
    font-family: 'facewhat-icon-font';  /* project id 988899 */
    src: url('//at.alicdn.com/t/font_988899_k779rp0fjbl.eot');
    src: url('//at.alicdn.com/t/font_988899_k779rp0fjbl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_988899_k779rp0fjbl.woff') format('woff'),
    url('//at.alicdn.com/t/font_988899_k779rp0fjbl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_988899_k779rp0fjbl.svg#iconfont') format('svg');
}
.facewhat-icon {
    font-family:"facewhat-icon-font" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*.icon-insertlink:before { content: "\ebd7"; }*/
/*.layuiEx-icon-link:before { content: "\e6e6"; }*/