body {
    background: #ebebeb;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #222;
    font-size: 12px;
}

.login {
    width: 360px;
    height: 220px;
    padding: 20px;
    background-color:rgba(0, 142, 173,0.4);
    border-radius: 4px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin:-150px 0 0 -150px;
    z-index:99;
}
.cartoon {
    position: absolute;
    top: -96px;
    width: 100px;
    height: 96px;
    left: 150px;
}
.cartoon_head {
    background: url(../images/login/tou.png) no-repeat;
    width: 100px;
    height: 92px;
    position: relative;
    bottom: -10px;
    left: 0px;
}

.left_hand {
    background: url("../images/login/left_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: 66px;
    left: 12px;
}

.right_hand {
    background: url("../images/login/right_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: 66px;
    right: 12px;
}

.initial_left_hand {
    background: url("../images/login/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 86px;
    left: -52px;
}

.initial_right_hand {
    background: url(../images/login/hand.png) no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 86px;
    right: -52px;
}

.left_handing {
    background: url("../images/login/left-handing.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
}

.right_handing {
    background: url("../images/login/right_handing.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
}

#loginIMSvr{
    background: rgb(0, 142, 173);
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid rgb(26, 117, 152);
    border-image: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}